@use './base' as v;


.about {
    scroll-margin-top: 80px;
    height: 500px;
    background-color: black;
    background-image: url("/background4.jpg");
    background-position-y: 0%;
    background-position-x: 80%;
    background-size: 600px auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: end;
    flex-direction: column;
    gap: 15px;
    padding: 15px;


    &_name {
        color: v.$secondary-color;
        font-size: 2rem;
    }

    &_title {
        color: v.$secondary-color;
        font-size: 1.5rem;
    }

    &_paragraph {
        color: v.$tertiary-color;
        font-size: 1rem;
        width: 90vw;
    }

}

@include v.mq-tablet {
    .about {
        background-size: cover;
        background-position-y: 0%;
        background-position-x: 20%;
        justify-content: center;

        &_name {
            font-size: 3rem;
        }

        &_title {
            font-size: 2.5rem;
        }

        &_paragraph {
            width: 300px;
            font-size: 1.2rem;
        }
    }
}

@include v.mq-desktop {
    .about {
        background-size: cover;
        background-position-y: 50%;
        background-position-x: 90%;
        justify-content: center;
        padding: 100px;
        height: 600px;

        &_paragraph {
            width: 350px;
            font-size: 1.2rem;
        }

        &_name {
            font-size: 3rem;
        }

        &_title {
            font-size: 2.5rem;
        }
    }
}