$primary-color:#294936;
$secondary-color:#FFCBD4;
$tertiary-color:#F4EDE0;

img{
    width: 100%;
    object-fit: cover;
}

.btn{
    width: fit-content;
    border-radius: 30px;
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    &_dark{
        background-color: $primary-color;
        color: $secondary-color;
        &:hover{
        background-color: $secondary-color;
        color: $primary-color;
        box-shadow: inset 3px 3px 5px #775057,
                    inset -3px -3px 5px #ffdae0;   
        }
    }
    &_light{
        background-color: $secondary-color;
        color: $primary-color;
        &:hover{
        background-color: $primary-color;
        color: $secondary-color;
        box-shadow: inset 5px 5px 10px #262b28,
                    inset -3px -3px 5px #c9ffdf;   
        }
    }
}

input, button{
    border: none;
}

h2{
    font-size: 1.7rem;
    font-weight: 600;
}


@mixin mq-tablet {
    @media (min-width:768px) and (max-width:1199px) {
        @content;
    }
}

@mixin mq-desktop {
    @media (min-width:1200px) {
        @content;
    }
}
