@use './base' as v;

.projects {
    scroll-margin-top: 80px;
    background-color: v.$secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 50px;

    &_title{
        color: v.$primary-color;
    }
    &_container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;     
    }

    &_card {
        background-color: v.$primary-color;
        width: 90%;
        min-width: 270px;
        max-width: 300px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 20px ;
    }

    &_img {
        border-radius: 35px 35px 0px 0px;
        height: 200px;
        padding: 15px;
        align-self: center;
    }

    &_name{
        color: v.$secondary-color;
        padding-left: 20px;
    }

    &_paragraph{
        color: v.$tertiary-color;
        padding: 0px 20px;
    }

    &_button{
        margin: 0px 20px;
    }

}

// @include v.mq-tablet{
//     .projects{
//         &_container{
//             width: 300px;
//         }
//     }
// }

// @include v.mq-desktop {
//     .projects{
//         &_container{
//             flex-direction: row;
//             gap: 50px;
//         }
//     }
// }
