@use './base' as v;

// @keyframes example {
//     0% {
//         top: -30px;
//     }

//     25% {
//         top: -35px;
//     }

//     50% {
//         top: -40px;
//     }

//     75% {
//         top: -45px;
//     }

//     100% {
//         top: -50px;
//     }
// }


@keyframes example {

    /*       0% {
        top: 0;
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        top: -50px;
        opacity: 0;
    }*/
    0% {
        top: -20px;
        opacity: 1;
    }

    100% {
        top: -75px;
        opacity: 1;
    }
}

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: v.$secondary-color;
    border-radius: 50%;
    position: fixed;
    top: 90%;
    left: 85%;
    box-shadow: 5px 5px 10px #502727bf;
    cursor: pointer;

    &_relative {
        position: relative;
    }

    &_arrow,
    .scroll_arrow2 {
        display: none;
        opacity: 0;
        font-size: 1.6rem;
        color: v.$primary-color;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    &_icon {
        font-size: 1.6rem;
        color: v.$primary-color;
        z-index: 2;
    }

}

@include v.mq-desktop {
    .scroll {
        top: 90%;
        left: 90%;

        &:hover {
            background-color: v.$primary-color;
            transform: scale(1.1);

            .scroll_icon {
                color: v.$secondary-color;
            }
        }

        &:hover .scroll_arrow {
            display: block;
            position: absolute;
            font-size: 1.8rem;
            animation: example 1.5s linear infinite;
        }

        &:hover .scroll_arrow2 {
            display: block;
            position: absolute;
            font-size: 1.8rem;
            animation: 1.5s example 0.75s linear infinite;
        }
    }
}