@use './base' as v;

.scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    background-color: v.$secondary-color;
    border-radius: 50%;
    position: fixed;
    top: 90%;
    left: 85%;
    box-shadow: 5px 5px 10px #502727bf;

    &_icon {
        font-size: 1.6rem;
        color: v.$primary-color;
    }

}

@include v.mq-desktop {
    .scroll {
        top: 90%;
        left: 90%;

        &:hover {
            background-color: v.$primary-color;
            transform: scale(1.1);
            .scroll_icon{
            color: v.$secondary-color;
            }
        }

    }
}
