@use './base' as v;

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    background-color: v.$tertiary-color;

    &_section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    &_title {
        color: #fd7c9f;
    }

    &_items {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 1rem;
    }

    &_box {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
    }

    &_logo {
        width: 90%;
        height: 90%;
        color: v.$primary-color;
        filter: drop-shadow(1px 1px 10px #7ead91);

        &-name {
            font-size: 1.2rem;
            font-weight: 900;
            color: v.$primary-color;
            background: rgba(255, 255, 255, 0.7);
            padding: 4px 8px;
            border-radius: 10px;
        }
    }
}

@include v.mq-desktop {
    .skills {
        &_items {
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }

        &_box {
            &:hover .skills_logo {
                position: relative;
                color: #427456;
                filter: drop-shadow(1px 1px 10px #fd7c9f);
            }

            &:hover .skills_logo-name {
                display: block;
                position: absolute;
                color: #fd7c9f;
            }
        }

        &_logo {
            &-name {
                display: none;
            }
        }
    }
}