@use './base' as v;
//@use './base' as b;

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    gap: 100px; //capaz se va
    align-items: center;
    background-color: v.$tertiary-color;
    padding: 100px;


    &_sections {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    &_title {
        color: #fd7c9f;
    }

    &_logo-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }

    &_logo-wrapper {
        position: relative;
        display: inline-block;
    }

    &_logo {
        font-size: 7rem;
        color: v.$primary-color;
        transition: all 0.3s ease;
        filter: drop-shadow(1px 1px 10px #7ead91);
        z-index: 2;


        &-name {
            opacity: 0;
            position: absolute;
            top: 120%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            color: v.$primary-color;
            filter: drop-shadow(1px 1px 10px #fd7c9f);
            padding: 0.5rem;
            border-radius: 5px;
        }

        &:hover {
            color: #427456;
            filter: drop-shadow(1px 1px 10px #fd7c9f);
        }

        &:hover+.skills_logo-name {
            opacity: 1;
        }

    }
}

// @include v.mq-tablet{
//     .skills{
//     &_logo-container {

//     }
// }
// }

// @include v.mq-desktop {
//     .skills{

//         &_logo-container {

//     }
//     }
// }
