img {
  width: 100%;
  object-fit: cover;
}

.btn {
  width: fit-content;
  border-radius: 30px;
  padding: 0.7rem 1rem;
  font-size: 1.1rem;
}
.btn_dark {
  background-color: #294936;
  color: #FFCBD4;
}
.btn_dark:hover {
  background-color: #FFCBD4;
  color: #294936;
  box-shadow: inset 3px 3px 5px #775057, inset -3px -3px 5px #ffdae0;
}
.btn_light {
  background-color: #FFCBD4;
  color: #294936;
}
.btn_light:hover {
  background-color: #294936;
  color: #FFCBD4;
  box-shadow: inset 5px 5px 10px #262b28, inset -3px -3px 5px #c9ffdf;
}

input, button {
  border: none;
}

h2 {
  font-size: 1.7rem;
  font-weight: 600;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-right: 1rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  color: #FFCBD4;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: -4px;
  bottom: 0;
  background-color: #294936;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  cursor: pointer;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFCBD4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.navbar {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFCBD4;
  z-index: 4;
}
.navbar_menu {
  display: none;
  flex-direction: column;
  align-items: end;
  margin-right: 20px;
  gap: 20px;
  width: 100%;
  height: 200px;
  position: absolute;
  top: 79px;
}
.navbar_menu.burger {
  display: flex;
  background-color: #FFCBD4;
}
.navbar_item {
  color: #294936;
}
.navbar_logo {
  margin-left: 20px;
  width: 50px;
}
.navbar_img {
  border-radius: 50px;
  aspect-ratio: 1/1;
}
.navbar_burger {
  display: block;
  font-size: 2rem;
  margin-right: 20px;
  background: transparent;
}
.navbar_burger.burger {
  display: none;
}
.navbar_cross {
  display: block;
  font-size: 2rem;
  margin-right: 20px;
  background: transparent;
}
.navbar_cross.cross {
  display: none;
}

@media (min-width: 1200px) {
  .navbar {
    box-shadow: 0px 5px 10px rgb(145, 145, 145);
    position: sticky;
    top: 0px;
  }
  .navbar_burger {
    display: none;
  }
  .navbar_cross {
    display: none;
  }
  .navbar_menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8rem;
    height: 80px;
    align-items: center;
    position: initial;
  }
  .navbar_item {
    color: #294936 !important;
    font-size: 1.3rem;
    text-decoration: none;
  }
  .navbar_item:hover {
    text-decoration: underline #294936;
  }
}
.footer {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  background-color: #294936;
  height: fit-content;
  gap: 50px;
}
.footer h3 {
  color: #F4EDE0;
}
.footer h2 {
  color: #FFCBD4;
}
.footer_sections {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}
.footer_title {
  margin: 1.5rem 0px 0px 0px;
}
.footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 2.5rem;
}
.footer_icon {
  font-size: 2rem;
  color: #F4EDE0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}
.form_title {
  margin: 1.5rem 0;
  color: #FFCBD4;
}
.form_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.form_group {
  position: relative;
  width: 100%;
}
.form_input {
  background-color: #F4EDE0;
  height: 30px;
  width: 100%;
  max-width: 700px;
  border-radius: 20px;
  padding: 10px;
}
.form_message {
  height: 150px;
  padding-bottom: 120px;
}
.form_error {
  color: rgb(255, 76, 76);
  font-size: 0.8rem;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 2px;
  z-index: 5;
}

@media (min-width: 1200px) {
  .footer {
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
  }
  .footer_title {
    align-self: start;
  }
  .footer_text {
    justify-content: start;
    gap: 1rem;
  }
  .form {
    width: 40%;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
    /*&_title {
         align-self: start;
    //     padding-left: 62px;
    }*/
    /*&_input {
        max-width: 500px;
    }*/
  }
}
.skills {
  scroll-margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  gap: 100px;
  align-items: center;
  background-color: #F4EDE0;
  padding: 100px;
}
.skills_sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.skills_title {
  color: #fd7c9f;
}
.skills_logo-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.skills_logo-wrapper {
  position: relative;
  width: 200px;
}
.skills_logo {
  font-size: 7rem;
  color: #294936;
  transition: all 0.3s ease;
  filter: drop-shadow(1px 1px 10px #7ead91);
  z-index: 2;
}
.skills_logo-name {
  opacity: 1;
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  font-size: 1.2rem;
  font-weight: 900;
  color: #294936;
  background-color: #F4EDE0;
  padding: 8px 16px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media (min-width: 1200px) {
  .skills_logo-name {
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .skills_logo:hover {
    color: #427456;
    filter: drop-shadow(1px 1px 10px #fd7c9f);
  }
  .skills_logo:hover + .skills_logo-name {
    opacity: 1;
  }
}
.projects {
  scroll-margin-top: 80px;
  background-color: #FFCBD4;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 50px;
}
.projects_title {
  color: #294936;
}
.projects_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.projects_card {
  background-color: #294936;
  width: 90%;
  min-width: 270px;
  max-width: 300px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.projects_img {
  border-radius: 35px 35px 0px 0px;
  height: 200px;
  padding: 15px;
  align-self: center;
}
.projects_name {
  color: #FFCBD4;
  padding-left: 20px;
}
.projects_paragraph {
  color: #F4EDE0;
  padding: 0px 20px;
}
.projects_button {
  margin: 0px 20px;
}

.about {
  scroll-margin-top: 80px;
  height: 500px;
  background-color: black;
  background-image: url("/background4.jpg");
  background-position-y: 0%;
  background-position-x: 80%;
  background-size: 600px auto;
  background-repeat: no-repeat;
  display: flex;
  justify-content: end;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
}
.about_name {
  color: #FFCBD4;
  font-size: 2rem;
}
.about_title {
  color: #FFCBD4;
  font-size: 1.5rem;
}
.about_paragraph {
  color: #F4EDE0;
  font-size: 1rem;
  width: 90vw;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .about {
    background-size: cover;
    background-position-y: 0%;
    background-position-x: 20%;
    justify-content: center;
  }
  .about_name {
    font-size: 3rem;
  }
  .about_title {
    font-size: 2.5rem;
  }
  .about_paragraph {
    width: 300px;
    font-size: 1.2rem;
  }
}
@media (min-width: 1200px) {
  .about {
    background-size: cover;
    background-position-y: 50%;
    background-position-x: 90%;
    justify-content: center;
    padding: 100px;
  }
  .about_paragraph {
    width: 350px;
    font-size: 1.2rem;
  }
  .about_name {
    font-size: 3rem;
  }
  .about_title {
    font-size: 2.5rem;
  }
}
@keyframes example {
  /*       0% {
      top: 0;
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      top: -50px;
      opacity: 0;
  }*/
  0% {
    top: -20px;
    opacity: 1;
  }
  100% {
    top: -75px;
    opacity: 1;
  }
}
.scroll {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  background-color: #FFCBD4;
  border-radius: 50%;
  position: fixed;
  top: 90%;
  left: 85%;
  box-shadow: 5px 5px 10px rgba(80, 39, 39, 0.7490196078);
  cursor: pointer;
}
.scroll_relative {
  position: relative;
}
.scroll_arrow,
.scroll .scroll_arrow2 {
  display: none;
  opacity: 0;
  font-size: 1.6rem;
  color: #294936;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scroll_icon {
  font-size: 1.6rem;
  color: #294936;
  z-index: 2;
}

@media (min-width: 1200px) {
  .scroll {
    top: 90%;
    left: 90%;
  }
  .scroll:hover {
    background-color: #294936;
    transform: scale(1.1);
  }
  .scroll:hover .scroll_icon {
    color: #FFCBD4;
  }
  .scroll:hover .scroll_arrow {
    display: block;
    position: absolute;
    font-size: 1.8rem;
    animation: example 1.5s linear infinite;
  }
  .scroll:hover .scroll_arrow2 {
    display: block;
    position: absolute;
    font-size: 1.8rem;
    animation: 1.5s example 0.75s linear infinite;
  }
}

/*# sourceMappingURL=styles.css.map */
